# Fastify Server Port
PORT=5000
HOST=0.0.0.0

# Next.js API Base URL
NEXT_PUBLIC_API_URL=http://localhost:5000/api

# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.prftcce.mongodb.net/asfa_design?retryWrites=true&w=majority&appName=Cluster0
